body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    position: relative;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Logo */
.logo h1 {
    font-size: 2em;
    margin-left: 0.5em;
}

.logo span {
    color: #fa574e;
}

/* Buttons */
.btn {
    background-color: #fa574e;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d94c42;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: linear-gradient(135deg, #5079bc, #fa574e);
    color: rgb(64, 54, 54);
    min-height: 50vh;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fa574e;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: rgb(44, 37, 37);
}

.hero .btn {
    padding: 15px 30px;
    font-size: 1.2em;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-10px);
    }
}

.features-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}

.feature {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature img {
    max-width: 60px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff8c00;
}

.feature p {
    font-size: 1em;
    color: #555;
}

/* Contact Section */
.contact-section {
    padding: 80px 10px;
    background-color: #ebeff2;
    text-align: center;
    color: #fa574e;
    font-size: 2em;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-section input,
.contact-section textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    margin: 0;
}