* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #5079bc, #fa574e) !important; 
    color: white;
    text-align: left; /* Align content to the left */
    
    margin-left: 20px;  /* Left margin */
    margin-right: 20px; /* Right margin */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push image to the right */
}

.header-image {
    width: 450px; /* Adjust size as needed */
    height: 300px;
    margin-right: 160px; /* Space between text and image */
    
}

.text-and-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:210px;
    flex: 1; /* Take up available space */
    text-align: left; /* Align text to the left */
}

header p {
    font-weight: 550;
    font-size: 4rem; /* Increase font size */
    margin-bottom: 10px; /* Adjust spacing */
}

#search-bar {
    padding: 8px;
    width: 100%; /* Take full width of the container */
    font-size: 16px;
}

.container {
    padding: 20px;
    flex-grow: 1;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h2 {
    color: white;
    background-color: #334560;
    padding: 10px;
    border-radius: 5px;
    margin: 0 -20px 20px -20px;
    width: calc(100% + 40px);
}

.faq, .guide, .troubleshooting {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #b7423b;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    margin-top: 40px;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.nav-logo span {
    color: #fa574e;
}

.user-icon {
    font-size: 35px;
    color: white;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.home, .help-support {
    font-size: 1.4rem;
    margin-right: 40px;
    font-weight: 550;
    color: white;
    position: relative;
    transition: color 0.3s ease;
    padding-bottom: 8px;
    margin-top: 5px;
}

.home:hover, .help-support:hover {
    color: #fa574e;
}

.navbar {
    background-color: #282c34;
    border-bottom: 0.2px solid #fa574e;
}

.dropdown-menu {
background-color: black;
border: 1px solid black;
z-index: 1001; /* Higher than the secondary nav */
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #fa574e;
    color: white;
}

.navbar-toggler {
border-color: white;
z-index: 1002; /* Ensures that the toggler is on top */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#faqs {
    margin-top: -20px;
}

.secondary-nav {
margin: 20px 0;
padding: 15px;
background-color: #282c34;
border-radius: 0px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
position: -webkit-sticky; /* For Safari */
position: sticky;
top: 0; /* This will make the navbar sticky at the top when scrolling */
z-index: 999; /* Lower than the dropdown */
}

.secondary-nav a {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 550;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.secondary-nav a:hover {
    color: #fa574e;
}

.navbar,
.secondary-nav,
header {
    margin: 0;
}
#search-bar{
    width:40em;
}